<!DOCTYPE html>
<html lang="en">
<head>
  <title>Blog</title>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
</head>
<body>

<div class="container">
    <h1  class="mb-4">My blog</h1>
        <a href="/new" class="btn btn-success">New Article</a>
    
    <% articles.forEach(article => { %>
       <div class="card mt-4">
        <div class="card-body">

        <h3 class="card-title"><%= article.title %></h3>

        <div class="card-subtitle text-muted mb-2">
            <%= article.createdAt.toLocaleDateString() %>
        </div>

        <div class="card-text mb-2"><%= article.description %></div>

        <a href="/display/<%= article._id %>" class="btn btn-primary">Read More</a>
        
        <a href="/edit/<%= article._id %>" class="btn btn-info">Edit</a>

        <form action="/<%= article._id %>?_method=DELETE" method="POST" class="d-inline"  >
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>

        </div>
      </div>
    <% }) %>
</div>
</body>
</html>
